<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Using Openstreetmap with Leaflet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
    <script
    			  src="https://code.jquery.com/jquery-3.3.1.min.js"
    			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    			  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="./index.js"></script> -->
    <style>
      #mapid { height: 500px; width: 500px;}
    </style>
  </head>
  <body>
    <div class="wrapper">

      <div class="row">
        <div class="container col-sm">
          <div class="card">
            <div class="card-header">Map</div>
            <div class="card-body">
              <div id="mapid" class="float"></div>
            </div>
          </div>
        </div>
        <div class="container col-sm">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Panel tilt (0 - 360)</span>
            </div>
            <input type="text" id="tilt" default="30" class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Panel azimuth (0 - 360)</span>
            </div>
            <input type="text" id="azimuth" default="180" class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Panel albedo (0 - 1)</span>
            </div>
            <input type="text" id="albedo" default="0.2" class="form-control">
          </div>

          <div class="map-data">

          </div>

        </div>

      </div>
    </div>

     <script type="text/javascript">
      var view = [51.505, -0.09];
      var map = L.map('mapid').setView(view, 13);
      var accessToken = "pk.eyJ1IjoiaGlnYWI4NSIsImEiOiJjam02YnE3ajQwMXhlM3BvNXk4ejZwaWJuIn0.z9xE-72riJyNQMExx_T01A"
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token='+ accessToken, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: accessToken
      }).addTo(map);
      marker = L.marker(view);
      marker.addTo(map);

      function onMapClick(e) {
          console.log(e.latlng);
          marker.setLatLng(e.latlng);
          var latlng = new Object();
          latlng.lng = e.latlng.lng;
          latlng.lat = e.latlng.lat;
          latlng.surface_tilt = parseInt($('#tilt').val())
          latlng.surface_azimuth = parseInt($('#azimuth').val())
          latlng.albedo = parseFloat($('#albedo').val())


          console.log(latlng);
          $.ajax({
              url: 'api/power',
              data: latlng,
              type: 'POST',
              success: function(response) {
                  console.log("SUCCESS");
                  $('.map-data').html("<h2>" + response + " Watts</h2>");
                  console.log(response);
              },
              error: function(error) {
                  console.log("ERROR");
                  console.log(error);
              }
          });
      }

      map.on('click', onMapClick);
     </script>

  </body>
</html>
<!-- https://leafletjs.com/examples/quick-start/ -->
